{% extends "@FOSUser/layout.html.twig" %}
{% block title %} Create account {% endblock %}

{% block content %}
<section class="content-wrap">
    <div class="container clearfix">
        <div class="postcontent nobottommargin clearfix">



        </div>

    </div>

</section>
{% endblock  %}
