{% extends "ILBankBundle::layout.html.twig" %}

{% block title %} Report Manager {% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="breadcrumb-item">
            <a href="#">Report Manager</a>
        </li>
        <li class="breadcrumb-item active">Report Manager</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="{{ path('il_bank_homepage') }}">
                    <i class="icon-graph"></i>  Tableau de bord
                </a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Report Manager</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Type de rapport</label>
                                        <select class="form-control">
                                            <option value="">Settlement/EOD File Exception Report</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">Nom de l'operateur</label>
                                        <select class="form-control">
                                            <option value="">Orange ML</option>
                                            <option value="">Malitel</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Type de transaction</label>

                                        <select class="form-control">
                                            <option value=""></option>
                                            <option value="">Orange ML</option>
                                            <option value="">Malitel</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Numero de la carte</label>
                                        <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Start date</label>
                                        <input type="text" class="form-control" id="ccnumber" placeholder="XX-XX-XXXX">
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Numero de compte</label>
                                        <input type="text" class="form-control" id="name" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Statut de linkage</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                            <option value="">Linked</option>
                                            <option value="">Delinked</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Reference flexcube</label>
                                        <input type="text" class="form-control" id="name" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="company">End date</label>
                                        <input type="text" class="form-control" id="ccnumber" placeholder="XX-XX-XXXX">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-search"></i> Rechercher</button>
                            </div>
                            <div class="row"> &nbsp;</div>

                            <div class="row">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>OPERATOR_CODE</th>
                                        <th>REQUEST_TYPE</th>
                                        <th>REQUEST_DATE</th>
                                        <th>ACCOUNT_ALIAS</th>
                                        <th>ACCOUNT_NO</th>
                                        <th>MOBILE NO</th>
                                        <th>REQUEST_ID</th>
                                        <th>AMOUNT</th>
                                        <th>RESPONSE_CODE</th>
                                        <th>RESPONSE_MESSAGE</th>
                                        <th>STATUS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Orange Money</td>
                                        <td>C2W</td>
                                        <td>XX-XX-XXXX</td>
                                        <td>XXXXXX</td>
                                        <td>XXXXXXXXX</td>
                                        <td>75317475</td>
                                        <td>OR1503200WMDRHI</td>
                                        <td>5000</td>
                                        <td>null</td>
                                        <td>null</td>
                                        <td>RECORDN</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Mobicah</td>
                                        <td>C2W</td>
                                        <td>XX-XX-XXXX</td>
                                        <td>XXXXXX</td>
                                        <td>XXXXXXXXX</td>
                                        <td>75317475</td>
                                        <td>OR1503200WMDRHI</td>
                                        <td>5000</td>
                                        <td>null</td>
                                        <td>null</td>
                                        <td>RECORDN</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Mobicah</td>
                                        <td>C2W</td>
                                        <td>XX-XX-XXXX</td>
                                        <td>XXXXXX</td>
                                        <td>XXXXXXXXX</td>
                                        <td>75317475</td>
                                        <td>OR1503200WMDRHI</td>
                                        <td>5000</td>
                                        <td>null</td>
                                        <td>null</td>
                                        <td>RECORDN</td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}